@font-face {
  font-family: 'iconfont';  /* project id 769261 */
  src: url('//at.alicdn.com/t/font_769261_kwl6fgaibn.eot');
  src: url('//at.alicdn.com/t/font_769261_kwl6fgaibn.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_769261_kwl6fgaibn.woff') format('woff'),
  url('//at.alicdn.com/t/font_769261_kwl6fgaibn.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_769261_kwl6fgaibn.svg#iconfont') format('svg');
}

.axon-icon {
  font-family: 'iconfont', serif;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.axon-icon.btn {
  font-size: 12px;
  padding-right: 5px
}

.axon-icon:before {
  content: attr(icon);
}
